.converter-container {
    padding: 15px;
    border: 1px solid #969090;
    margin: 15px 10px;
}

.currency-input-section,
.currency-inputs {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.currency-result-actions {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.currency-section {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.error-message {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    min-height: 20px;
}

.currency-divider {
    padding-left: 5px;
    padding-right: 5px;
}

.converted-result {
    padding: 10px;
    border: 1px solid #333;
    min-width: 200px;
    text-align: center;
}
