.converter-container {
    padding: 15px;
    border: 1px solid #969090;
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;
}

.currency-left {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}

.currency-right {
    flex-grow: 2;
    padding: 10px;
}

.currency-input-section {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.currency-action {
    width: 100%;
    margin-bottom: 10px;

    .btn {
        width: 100%;
    }
}

label, input, select {
    width: 100%;
}

.currency-result-actions {
    display: flex;
    justify-content: space-between;
}

.swap-btn {
    margin-right: 10px;
    margin-left: 10px;
}

.converted-result {
    padding: 10px;
    border: 1px solid #333;
    min-width: 200px;
    text-align: center;
    margin-right: 10px;
}

.error-message {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    min-height: 20px;
}

.currency-divider {
    padding-left: 5px;
    padding-right: 5px;
}

.exchange-rate {
    padding: 10px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .converter-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .currency-input-section {
        flex-direction: column;
        align-items: center;
    }
}



