.currency-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px;
    margin: 5px;
    align-items: center;
}

.currency-code {
    font-weight: bold;
    padding-right: 10px;
}
