<div class="currency-details">
    <div class="currency-info">
        <span class="currency-code">{{fromCurrency}}</span>
        <span class="currency-name">{{fromCurrencyName}}</span>
    </div>

    <div class="action-button">
        <button type="button" class="btn primary-btn" (click)="backToHome()">Back to Home</button>
    </div>
</div>
<app-converter-panel [isDetails]="true"
                     [defaultFromCurrency]="fromCurrency"
                     [defaultToCurrency]="toCurrency">
</app-converter-panel>

<app-historical-info [fromCurrency]="fromCurrency" [toCurrency]="toCurrency">
</app-historical-info>
