$primaryColor: #0b518f;
$secondaryColor: #0b518f;

body {
    margin: 0;
    font-size: 14px;
    font-family: Montserrat, sans-serif, monospace;
    color: #000;
}

.d-flex {
    display: flex;
}

.flex-right {
    margin-left: auto;
}

.container {
    padding-top: 70px;
}

label {
    padding-right: 10px;
}
