@import 'variable';

body {
    margin: 0;
    font-size: 14px;
    font-family: Montserrat, sans-serif, monospace;
    color: #000;
}

.d-flex {
    display: flex;
}

.flex-right {
    margin-left: auto;
}

.container {
    padding-top: 70px;
}

label {
    padding-right: 10px;
    margin-bottom: 5px;
}

.btn {
    padding: 5px 8px;
    cursor: pointer;
}

.primary-btn {
    background-color: $primaryColor;
    color: #fff;

    &:disabled{
        opacity: 0.8;
    }
}

input, select {
    padding: 6px;
}

.d-flex-d-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}

.header {
    background: $primaryColor;
}
